name: CI

on:
  push:
    branches: [ "acceptable" ]
  pull_request:
    branches: [ "acceptable" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux
    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --needed --noconfirm zig sdl2 sdl2_ttf
      - name: Checkout Repository
      - uses: actions/checkout@v3
      - name: Install dependencies and compile
        run: |
          zig build -Drelease-safe
      - name: Publish binary
        uses: actions/upload-artifact@v3.1.0
        with:
          name: zigtris
          path: zig-out/bin/zigtris
